<p>The weather for <%= @city %> feels like <%= @temperature %> degrees F. Here is what we have selected for you today.</p>





<p> Top: <%= @top %> </p>
<p> Bottom: <%= @bottom %> </p>

<p> geo location: <%= @country %>  </p>


<p>Not into it? Click "Generate My outfit" to ask for another selection.</p>



