

<% if user_signed_in?%>
  <h1>My Closet</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Weather</th>
        <th>Item Type</th>
        <th>User ID</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @clothes.each do |clothe| %>
        <% if clothe.user == current_user%>
          <tr>
            <td><%= link_to clothe.outfit_name , clothe %></td>
            <td><%= clothe.weather %></td>
            <td><%= clothe.outfit_type %></td>
            <td><%= clothe.user_id%></td>
            <td><%= link_to 'Edit', edit_clothe_path(clothe) %></td>
            <td><%= link_to 'Delete', clothe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end%>
      <% end %>
    </tbody>
  </table>

  <br>

<% else %>
  <h1>Welcome!</h1>
  <p>To use the outfit generator, please create an account or sign in.</p>
<% end %>
