<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @clothe.outfit_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"> <%= @clothe.outfit_type %> | <%= @clothe.weather%> </h6> 
    <p>
      <strong>Weather:</strong>
      <%= @clothe.weather %>
    </p>

    <p>
      <strong>Outfit Type:</strong>
      <%= @clothe.outfit_type %>
    </p>
    <%= link_to 'Edit', edit_clothe_path(@clothe) , class:"btn btn-secondary"%> 
    <%= link_to 'Back', clothes_path, class:"btn btn-dark" %>

  </div>
</div>


